<div >
<h1>Your Filled Information</h1>
<div >
    <table>
        <tr>
          <td>Name :</td>
          <td>{{parentdata.name}}</td>
        </tr>
        <tr>
          <td>Email :</td>
          <td>{{parentdata.email}}</td>
        </tr>
        <tr>
          <td>Mobile No. :</td>
          <td>{{parentdata.mobileno}}</td>
        </tr>
        <tr>
          <td>Gender :</td>
          <td>{{parentdata.gender}}</td>
        </tr>
        <tr>
          <td>Favorite Topic :</td>
          <td>{{parentdata.topic}}</td>
        </tr>
      </table>
</div>
</div>